# Issues

### Version 0.4.43
#### "[Unexpected Error] -> KeyError -> 'cmsArticleWebOld'" is an error from akshare?

This [issue](https://github.com/finanalyzer/openbb_akshare/issues/7) arises from akshare version 1.17.18. Upgrading to version 1.17.25 resolves the problem.

In [2]:
from openbb import obb

obj = obb.reference["info"]["extensions"]["openbb_provider_extension"]
result = [item for item in obj if "akshare" in item]
result

['openbb_akshare@0.4.44']

In [2]:
import akshare as ak
symbol = "000001"
data = ak.stock_news_em(symbol)

In [3]:
messages = obb.news.company('000001', provider='akshare')

In [6]:
messages.to_dataframe().head()

,title,text,url,source
date,,,,
2025-02-21 20:43:04,平安银行同意给予平安租赁综合授信额度等值65亿元,2月21日，平安银行（000001）发布公告，同意给予平安国际融资租赁有限公司原额续作综合授...,http://finance.eastmoney.com/a/202502213326403...,财中社
2025-03-02 16:41:38,平安银行优先股股息方案获批 每股派息4.37元,3月2日，平安银行（000001）发布公告，优先股（以下简称“平银优01”）股息发放方案已获...,http://finance.eastmoney.com/a/202503023333939...,财中社
2025-03-05 11:07:12,平安银行领导班子调整：王军升任行长助理 张朝晖兼任深圳分行行长,3月4日，市场传出平安银行（000001）领导班子进行调整的消息，平安银行深圳分行行长王军拟...,http://finance.eastmoney.com/a/202503053337024...,财中社
2025-03-07 18:25:09,平安银行：业绩说明会定于3月17日举行,每经AI快讯，平安银行（SZ 000001，收盘价：11.67元）3月7日晚间发布公告称，公...,http://finance.eastmoney.com/a/202503073339890...,每日经济新闻
2025-03-07 19:37:09,平安银行将于3月17日举行业绩发布会,3月7日晚间，平安银行（000001）发布《关于召开2024年度业绩说明会的公告》通知，平安...,http://finance.eastmoney.com/a/202503073339945...,财中社

In [4]:
prices = obb.equity.price.historical(symbol='06823', start_date="2025-06-01", end_date="2025-06-10", provider="akshare")
prices.to_dataframe().head()

,open,high,low,close,volume,amount,change,change_percent
date,,,,,,,,
2025-06-02,11.28,11.30,11.14,11.30,10308375,115886930.0,0.00,0.00
2025-06-03,11.32,11.60,11.30,11.54,11269938,129701066.0,0.24,2.12
2025-06-04,11.50,11.54,11.38,11.44,7723042,88485719.0,-0.10,-0.87
2025-06-05,11.44,11.44,11.34,11.42,7607515,86628055.0,-0.02,-0.17
2025-06-06,11.42,11.50,11.38,11.50,4635889,53201835.0,0.08,0.70

In [5]:
data = obb.equity.price.quote(symbol='000002', provider='akshare')

  0%|          | 0/57 [00:00<?, ?it/s]

In [6]:
data.to_dataframe().head()

,symbol,name,last_price,open,high,low,volume,prev_close,change,change_percent
0,000002,万 科Ａ,6.68,6.61,6.72,6.53,1326776.0,6.6,0.08,1.21